*{
  padding: 0;
  margin: 0;
}

.container
.title_text_blue
.title_text_white
.title_text_yellow

.bcg_blue
.bcg_grey
.bcg_print
h1

<!-- catalog-->
<!-- Шапка-->
.header {background-color:;}
.header_logo

 <!-- Навигация-->
.navigation

<!-- Шапка-кнопки-->
.header_bing
.header_bing_full
.header_call


<!-- Заголовок-->
.promo {
   background-image: url(image/header1.png);
}
.promo_second{

}
.promo_text
.promo_text_second{
blockquote

<!-- Основная часть-->
.bcg{
  background-image: url(image/background.png);
}

<!--Каталог-->
.catalog
.catalog_nav
.catalog_nav_chapter
.catalog_nav_chapter_active

<!-- Каталог - 2 уровень-->
.second_nav
.second_nav_chapter

<!-- Реклама-->
.promo
.promo_first{
background-image: url(image/promo1.png);
}
.promo_second{
background-image: url(image/promo2.png);
}

.promo_title
.promo_button_orange

<!-- Карточки товара-->
.card {
}
.card_img
.card_name
.card_feature
.card_hover

<!-- Акции-->
.action
.action_first{
background-image: url(image/action1.png);
}
.action_second{
background-image: url(image/action2.png);
}
.action_text
.action_button

<!-- Подвал-->

.footer_catalog
.footer_catalog_header
.footer_catalog_page

.footer_right
.footer_feedback
.footer_network

<!-- index-->
<!--Подразделы каталога-->
.chapter_content
.chapter_content_part
.chapter_content_header
.chapter_content_subtitle
.chapter_content_img

<!-- Популярные товары -->
.popular

<!-- Как сделать заказ? -->

.tutorial
.tutorial_part
.tutorial_number
.tutorial_text


<!-- Контакты -->
.contact
.map
.contact_block
.contact_title
.contact_text

/*item*/
!-- Карточка товара-->
.product_card
.product_bcg_blue
.product_bcg_grey
.product_left
.product_right
.crumbs
.circle
.product_title
.product_second_title
.product_features
.product_feature
.product_feature_left
.product_feature_right

<!-- Комплектация-->
.complect
.comp_card
.comp_card_img

<!-- Описание аквариума-->
.description
.descr_text
.descr_fish
.descr_fish_left
.descr_fish_right

<!-- С этим товаром покупают-->
.attach

<!-- Похожие-->
.similar

<!-- form-->
.form
.product_bcg_blue
.product_bcg_grey
.form_card
.form_card_left
.form_card_center
.form_card_right
.form_row
.form_simple_text
.form_grey_text
.form_bold_text
.arrow_up
.arrow_down
.input