

body {
font-family: 'PT Sans', sans-serif;

}


* {
  padding: 0;
  margin: 0;
}

.header_catalog{
position: absolute;
width: 100%;
min-width: 1170px;
}

.container {
width: 1170px;
margin: auto;
padding: 0px 0px 0px;
position: center;
}

/*Заголовки*/
.title_text_blue {
color: #1b4366;
text-align: 700;
font-size: 30px;
font-weight: 700;
}

.title_text_white{
}

.title_text_yellow{
color: #ffb400;
font-weight: 700;
font-size: 30px;
}
/*Кнопки*/
.button_orange{
display: block;
padding: 15px 0px 15px 0px;
margin-top: 20px;
display: inline-block;
background-color: #feb326;

width: 170px;
font-weight: 700;
color: white;
text-decoration: none;
text-align: center;
}

.button_blue{
position: absolute;
background-color: #226298;
margin-top:250px;
width: 170px;
display: block;
padding: 15px 0px 15px 0px;

color: white;
text-decoration: none;
text-align: center;
}

.button_blue_second{
background-color: #226298;
width: 170px;
position: relative;
top: 25px;
display: block;
padding: 15px 0px 15px 0px;

color: white;
text-decoration: none;
text-align: center;
}

/*Фоны*/
.bcg_grey{
background-color: #e8e8e8;
width: 100%;
}

.bcg_print {
/*background-image: url(../image/bсg_blue.png);
background-repeat: round;
background-color: #b4daff;*/
width: 100%;
position: relative;
top: -3px;

background-color: #d2e4fd;
 background-image:
 repeating-linear-gradient(
 -45deg,
 transparent,
 transparent 2px,
 #c8daf4 2px,
 #3f6295 4px

);

}


.bcg_blue{
background-color: #1c4366;
width: 100%;
height: 250px;
min-width: 1170px;

}




.title_logo {
float: left;
margin-top: 15px;
}

/* <!-- Навигация-->*/
.navigation {
float: left;
width: 370px;
position: absolute;
margin-left: 200px;
padding-top: 60px;
border-bottom: 2px solid #ffb400;

}

.navigation a {
color: #fff;
text-decoration: none;
}

.navigation_part{
padding-bottom: 15px;
margin-right: 92px;
display: inline-block;
float: left;
}
.navigation_part:last-child{
/*content: '';*/
padding-bottom: 15px;
margin-right: 0;
}

.navigation li{
list-style-type: none;
}
/*<!-- Шапка-кнопки-->*/
.header_bin {
display: block;
position: relative;
float: left;
margin: 60px 0px 0px 750px;
color: #fff;
text-decoration: none;
}

.header_bin:before {
content:'';
width: 30px;
height: 30px;
background-image: url(../image/ic_bing_full.png);
background-repeat: no-repeat;
position: absolute;
top: -7px;
left: -30px;
}

.header_bin_empty {
display: block;
position: relative;
float: left;
margin: 60px 0px 0px 750px;
color: #fff;
text-decoration: none;
}

.header_bin_empty:before {
content:'';
width: 30px;
height: 30px;
background-image: url(../image/ic_bing_empty.png);
background-repeat: no-repeat;
position: absolute;
top: -5px;
left: -30px;
}
.header_call{
float: right;
margin: 60px 0px 0px 0px;
font-size: 14px;
color: #fff;
text-decoration:underline;
}


/*<!-- Заголовок-->*/
.catalog_promo_bcg{
   color: white;
  background-image: url(../image/header_photo.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 415px;
  width: 100%;
  background-size: cover;
min-width:1170px;
}

.index_promo_bcg{
   color: white;
  background-image: url(../image/header_photo.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 585px;
  width: 100%;
  background-size: cover;
  min-width: 1170px;
}


.item_promo_bcg{
  color: white;
  background-image: url(../image/header_photo.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 250px;
  width: 100%;
  background-size: cover;
}
.index_promo_left{
width: 600px;
float: left;
}
.index_promo_right{
position: relative;
top: 165px;
display: block;
left: -55px;
float: right;
color: white;
}

.catalog_promo_title{
position: absolute;
margin-top: 180px;
margin-left: 200px;
display: block;
color: white;
font-family: 'Rubik', sans-serif;
font-size: 25px;
line-height: 1.5;

}
.index_promo_title{
position: absolute;
margin-top: 200px;
display: inline-block;
color: white;
font-family: 'Rubik', sans-serif;
font-size: 30px;
line-height: 1.3;

}

.promo_subtitle{
display: block;
padding-top: 30px;
color: white;
font-size: 20px;
position: absolute;
top: 268px;
}

.promo_cita {
padding: 0px 35px 0px 35px;
color: #9ac3ff;
line-height: 2;
}

.spec_q_first{
  position: relative;
    top: 20px;
    left: -17px;
  font-size: 30px;
}
.spec_q_second{
   position: relative;
  font-size: 30px;
  left: 335px;
  top: -15px;
}

/*<!-- Основная часть-->

<!--Каталог-навигация-->*/

.catalog{
min-width: 1170px;
background-color: #fff;
}

.catalog_title{
margin-top: 60px;
margin-bottom: 14px;
}

.catalog_nav{
width: 1170px;
border-bottom: 1px solid #1c4366;
font-size: 0px;
vertical-align: top;
}

.catalog_nav a{
  text-decoration: none;
  color: #1c4366;
}
.catalog_nav_chapter_fish{
display: inline-block;
background-color: #fff;
color: #000;
width: 15%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
/*text-align: center;*/
}

.catalog_nav_chapter_aqua a{
text-decoration: none;
  color: white;
}
.catalog_nav_chapter_fish a{
text-decoration: none;
  color: #1c4366;
}


.catalog_nav_chapter_fish:hover{color:#7fa0dd;}

.catalog_nav_chapter_fish:before{
content: url(../image/ic_fish.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
top: 5px;
position: relative;
}

.catalog_nav_chapter_aqua{
display: inline-block;
background-color: #7fa0dd;
width: 18%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
color: #fff;
text-align: center;

}

.catalog_nav_chapter_aqua:before{
content: url(../image/ic_aqua_wh.svg);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
top: 5px;
position: relative;
}

.catalog_nav_chapter_fish_index{
display: inline-block;
background-color: #7fa0dd;
width: 15%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
color: #fff;
text-align: center;

}

.catalog_nav_chapter_fish_index:before{
content: url(../image/ic_fish_wh.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
text-align: center;
top: 5px;
position: relative;
}

.catalog_nav_chapter_fish_index a{
text-decoration: none;
  color: white;
}
.catalog_nav_chapter_aqua_index{
display: inline-block;
background-color: #fff;
color: #000;
width: 20%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
text-align: center;/
}

.catalog_nav_chapter_aqua_index:hover{color:#7fa0dd;}

.catalog_nav_chapter_aqua_index:before{
content: url(../image/ic_aqua.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
color: #000;
top: 5px;
position: relative;
}
.catalog_nav_chapter_korm{
display: inline-block;
color: #000;
width: 18%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
text-align: center;
}

.catalog_nav_chapter_korm:hover{color:#7fa0dd;}

.catalog_nav_chapter_korm:before{
content: url(../image/ic_ob.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
top: 5px;
position: relative;
}

.catalog_nav_chapter_ob{
display: inline-block;
color: #000;
width: 22%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
box-sizing: border-box;
text-align: center;
}

.catalog_nav_chapter_ob:hover{color:#7fa0dd;}

.catalog_nav_chapter_ob:before{
content: url(../image/ic_ob.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
top: 5px;
position: relative;
}

.catalog_nav_chapter_gr{
display: inline-block;
color: #000;
width: 22%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
text-align: center;
}

.catalog_nav_chapter_gr:hover{color:#7fa0dd;}


.catalog_nav_chapter_gr:before{
content: url(../image/ic_grunt.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
top: 5px;
position: relative;
}

/*<!-- Колонки-->*/
.col1{
  display:inline;
 float:left;
 margin-top: 35px;
 width: 270px;
 height: 1015px;
}
.col2{
  display:inline;
 float:left;
 margin-top: 35px;
 width: 270px;
 height: 1015px;
 margin-left: 30px;
}

.col3{
  display:inline;
  float:left;
 margin-top: 35px;
 width: 270px;
 height: 1015px;
 margin-left: 30px;
}

.col4{
  display:inline;
float:left;
 margin-top: 35px;
 width: 270px;
 height: 1015px;
 margin-left: 30px;
}

.col5{
  display:inline-block;
float:right;
 width: 1170px;
position: relative;
top:105px;
}

.col6{
  display:inline-block;
float:right;
 width: 1170px;
position: relative;
top:90px;
}

/*Навигация 2 уровень*/

.catalog_cards{
height: 1095px;
min-width: 1170px;
}

.second_nav{
float: left;
height: 310px;
width: 270px;
background-color: #1c4366;
}

.second_nav_content{
padding: 30px 30px 0 30px;
}
.second_nav_title{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.second_nav_chapters{
padding: 30px;
}

.second_nav_chapter{
color: #fff;
text-decoration: none;
}

.second_nav_chapter_active{
color: #6fa1e0;
text-decoration: none;
}

.second_nav_chapters li {
  color: #fff;
  padding-bottom: 20px;
}

.li_active {
  color: #6fa1e0;
  padding-bottom: 20px;
}

/*<!-- Реклама-->*/

.adv_first_cont{
  display: block;
  margin: auto;
}

.adv_first{
margin-top: 45px;
background-image: url(../image/promo1.png);
height: 310px;
width: 270px;
border-radius: 5px;
}

.adv_first_cont{
 padding: 135px 35px 116px 35px;
 text-align: center;
}

.adv_second{
margin-top: 45px;
background-image: url(../image/promo2.png);
height: 310px;
width: 270px;
border-radius: 5px;
}

.adv_second_cont{
 padding: 116px 35px 116px 35px;
 text-align: center;
}

.adv_title{
text-align: center;
color: #fff;
font-weight: 700;
font-size: 20px;
}

.adv_subtitle{
display: block;
text-align: center;
color: #fff;
font-size: 16px;
padding-top: 5px;
}

/*<!-- карточки товаров-->*/
.card {
border-radius: 5px;
display: inline-block;
float: left;
background-color: #fff;
margin-top: 40px;
}

.card:first-child {
margin-top: 0px;
}


.card a{
  text-decoration: none;
  color: #000;
}

.card_popular{
border-radius: 5px;
float: left;
background-color: #fff;
width: 270px;
margin-right: 30px;
}

.card_popular a{
text-decoration: none;
}

.card_popular:last-child{
margin-right: 0px;
}

.card:hover{
color:#005ae2;
box-shadow:0 0 20px #1c4366;
}

.card_img{
height: 200px;
position: relative;
width: 270px;
}

.card_sale{
position: absolute;
top:0;
right: 0px;
}

.card_text{
border-radius:  0 0 5px 5px;
border-top: 1px solid #d1d1d1;
background-color: #fff;
padding-top: 15px;
padding-bottom: 15px;
}

.card_name{
display: block;
font-size: 20px;
text-align: center;
color: black;
}
.card_feature1{
  display: block;
  padding: 10px 0 0 55px;
  color: #2f4565;
}

.card_feature1:last-child{
  display: block;
  padding: 10px 0 30px 55px;
  color: #2f4565;
}

.card_feature2{
  display: block;
  padding: 0 0 10px 55px;
  color: #2f4565;
}

.action{
width: 100%;
display: inline-block;
color: white;
min-width: 1170px;
position: relative;
top: -3px;
height: 393px;
}

.action_first_bcg{
height: 400px;
width: 49.90%;
color: white;
float: left;
background-image: url(../image/action1.png);
background-repeat: no-repeat;
background-size: cover;

}

.action_yellow_bcg{
height: 400px;
width: 0.2%;
float: left;
background-color: #ffb400;
background-size: cover;
}

.action_second_bcg{
height: 400px;
width: 49.90%;
float: left;
background-image: url(../image/action2.png);
background-repeat: no-repeat;
background-size: cover;

}

.action_first{
width: 500px;
float: left;
position: absolute;
color: white;
margin-top: 50px;
}
.action_second{
float: left;
width: 500px;
position: absolute;
margin-left: 700px;
margin-top: 50px;
color: white;

}

.action_text{
display: block;
color: white;
text-decoration: none;
font-size: 20px;
padding-top: 50px;
padding-bottom: 22px;
width: 500px;
margin-left: 0;
}

.action_text2{
display: block;
color: white;
text-decoration: none;
font-size: 20px;
padding-top: 50px;
padding-bottom: 65px;
width: 500px;
margin-left: 0;
}

/*Подвал*/

.title_bcg_form {
  height: 145px;
  width: 100%;
   background-color: #0b192c;
}

.title_bcg_item {
  height: 145px;
  width: 100%;
   background-color: #0b192c;
}


.footer_block{
top: 50px;
position: relative;

}
.bgc_blue{
 background-color: #1c4366;
width: 100%;
height: 250px;
min-width: 1170px;
}

footer .bgc_blue{
position: absolute;
top: -6px;
}

.footer_logo{
  margin-top: 20px;
  float:left;
}

.footer_catalog{
color: #000;
left: 125px;
position: relative;
width: 500px;
}

.footer_catalog li{
  padding-bottom: 20px;
}
.footer_catalog_header{
font-size: 20px;
font-weight: 700;
color: #ffb400;
}

.cat_block1{
float: left;
margin-top: 30px;
}

.cat_block2{
position: absolute;
left: 275px;
margin-top: 30px;
}

.footer_catalog_page{
/*display: inline-block;*/
color: #fff;
text-decoration: none;
list-style-type: none;
width: 200px;

}

.footer_catalog li {
  list-style-type: none;
  line-height: 0.75;
}

.footer_feedback{
color:#ffb400;
float: right;
display: inline-block;
position: relative;
margin-top: 20px;
font-size: 14px;
}

.soc_block{
top: 65px;
left: 130px;
float: right;
position: relative;
}

.footer_network{
margin-right: 10px;
}

/*<!-- index-->*/
/*<!--Подразделы каталога-->*/
.chapter_content {
width: 170px;
margin-right: 25px;
text-decoration: none;
float: left;
margin-top: 40px;
margin-bottom: 110px;
}
.chapter_content_part{

text-align: center;}

.chapter_content a{
text-decoration: none;
color: #2f4565;
}

a .chapter_content_header{
font-weight: 700;
}

a .chapter_content_subtitle{
  display: table-cell;
height: 30px;
right: 50%;
font-size: 14px;
vertical-align: middle;
}

.chapter_content_img{
margin-top: 10px;
}




.index_popular{
height: 600px;
min-width: 1170px;
}

.popular_header{
display: inline-block;
position: relative;
top: 60px;
color: #1b4366;
text-align: 700;
font-size: 30px;
font-weight: 700;
}

.popular_button{

position: relative;
left: 43%;
top: 160px;
background-color: #226298;
width: 170px;
padding: 15px 0px 15px 0px;
display: inline-block;

color: white;
text-decoration: none;
text-align: center;
}

/* <!-- Как сделать заказ? -->*/

.tutorial{
height: 375px;
position: relative;
width: 1170px;
margin: auto;
min-width: 1170px;
}

.tutorial_header{
display: block;
margin-top: 70px;
}

.tutorial_part_block{
display: inline-block;
margin-top: 50px;
width: 1170px;
margin-left: 50px;
}
.tutorial_part{
float: left;
  width: 320px;
  margin-right: 70px;
}

.tutorial_part:last-child{
  margin-right: 0px;
}


.tutorial_img{
  display: inline-block;
  position: relative;
  left: 93px;
  top:-70px;
}

.tutorial_img_bgc{
display: block;
position: relative;
  height: 95px;
  width: 95px;
  border: 2px solid #feb326;
 box-sizing: border-box;
  padding: 20px;
left: 20%;
right:50%;
}

.tutorial_part:hover .tutorial_img_bgc{
  transform: rotate(45deg);
  background-color: #feb326;
}

.tutorial_content{
  position: absolute;
  top: 200px;
  height: 50px;
  vertical-align: top;
}


.tutorial_number_block{display: inline-block;}

.tutorial_number{
display: block;
background-color: #3f6295;
width: 30px;
height: 30px;
border-radius: 15px;
position: relative;
top: -15px;
line-height: 30px;

text-align: center;
color: white;
font-weight: 700;
margin-right: 25px;
float: left;
}


.tutorial_part:hover .tutorial_text1:before{
background-color: #feb326;
}

.tutorial_part:hover .tutorial_text2:before{
background-color: #feb326;
}

.tutorial_part:hover .tutorial_text3:before{
background-color: #feb326;
}

.tutorial_text_source{
color: #3f6295;
font-size: 16px;
}

.tutorial_text1{
display: inline-block;
padding-top: 10px;
font-size: 20px;
text-align: center;
text-height: 2;
}

.tutorial_text1:before{
  content:'';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #3f6295;
  left: -50px;
  border-radius: 50%;
}

.tutorial_text1:after{
content: '1';
  position: absolute;
  left: -40px;
  color: white;
  top: 15px;
  font-weight: 700;
  font-size: 16px;
}

.tutorial_text2{
display: inline-block;
padding-top: 10px;
font-size: 20px;
text-align: center;
text-height: 2;
}

.tutorial_text2:before{
  content:'';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #3f6295;
  left: -50px;
  border-radius: 50%;
}

.tutorial_text2:after{
content: '2';
  position: absolute;
  left: -40px;
  color: white;
  top: 15px;
  font-weight: 700;
  font-size: 16px;
}

.tutorial_text3{
display: inline-block;
padding-top: 10px;
font-size: 20px;
text-align: center;
text-height: 2;
}

.tutorial_text3:before{
  content:'';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #3f6295;
  left: -50px;
  border-radius: 50%;
}

.tutorial_text3:after{
content: '3';
  position: absolute;
  left: -40px;
  color: white;
  top: 15px;
  font-weight: 700;
  font-size: 16px;
}


/*<!-- Контакты -->*/
.contact_and_map{
height: 365px;
/*position: relative;*/
width: 97%;
border-top: 1px solid #e8e8e8;
float:left;
min-width: 1170px;
}

.map{
width: 42.5%;
float: left;
height: 365px;
min-width: 300px;
}

.contact_content{
  float:left;
position: relative;
top: -5px;
left: 30px;
padding-top: 30px;
width: 57%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
font-size: 16px;

}

.contact_text_tel a{
  text-decoration: none;
  color: black;
}

.contact_text_mail a{
  text-decoration: none;
  color: black;
}

.contact_text_time{
font-size: 14px;
display: inline-block;
position: relative;
top: -22px;
left: 50px;
margin-top: 30px;
}

.contact_text_time:before{
display: inline-block;
content:'';
background-image: url(../image/ic_time.png);
background-repeat: no-repeat;
position: absolute;
left: -50px;
width: 40px;
height: 40px;
}

.contact_text_car{
font-size: 14px;
display: block;
position: relative;
top: -22px;
left: 50px;
margin-top: 30px;
}

.contact_text_car:before{
display: inline-block;
content:'';
background-image: url(../image/ic_car.png);

background-repeat: no-repeat;
position: absolute;
left: -50px;
width: 40px;
height: 40px;

}

.contact_text_weekend{
font-size: 14px;
position: relative;
top: -22px;
left: 50px;
text-align: left;
margin-top: 30px;
}

.contact_text_weekend:before{
display: inline-block;
content:'';
background-image: url(../image/ic_weekend.png);
background-repeat: no-repeat;
position: absolute;
left: -50px;
width: 40px;
height: 40px;

}

.contact_text_tel{
font-size: 14px;
position: relative;
top: -22px;
left: 15px;
margin-top: 30px;
}

.contact_text_tel:before{
display: inline-block;
content:'';
background-image: url(../image/ic_tel.png);
background-repeat: no-repeat;
position: relative;
left: -15px;
width: 40px;
height: 40px;
top: 20px;
}

.contact_text_mail{
font-size: 14px;
position: relative;
top: -18px;
left: 15px;
}

.contact_text_mail:before{
 display: inline-block;
content:'';
background-image: url(../image/ic_mail.png);
background-repeat: no-repeat;
position: relative;
left: -15px;
width: 40px;
height: 40px;
top: 25px;
}

.contact_title{
font-weight: 700;
font-size: 20px;
margin-right: 50px;
}

.contact_subtitle{
display: inline-block;
width: 400px;
font-size: 16px;
margin-top: 5px;
}

.contact_text{
display: inline-block;
width: 400px;
font-size: 14px;
margin-top: 5px;
}


.contact_chapters{
 margin-top: 65px;
 width: 450;
}
.contact_chapters_left{
float: left;
border-right: 1px solid #feb326;
padding-right: 110px;
}

.contact_chapters_right{
display: inline-block;
position: relative;
left: 30px;
}


/*item*/

.product_card{
height: 410px;
background-color: #e8e8e8;
width: 100%;
min-width: 1170px;
}


.product_left{
float: left;
}
.product_right{
position: relative;
left: 80px;
}
.crumbs{
  color: white;
position: relative;
top: -90px;
text-decoration: none;
}

.crumbs a{
  text-decoration: none;
  color: white;
}

.product_photo{
display: block;
position: relative;
top: -63px;
left: -15px;
float: left;
}

.product_next{
position: relative;
top: 79px;
left: 22px;
float: left;
}

.circle_block{

 position: relative;
left: 100px;
top: -35px;
}

.circle{
background-color:#2f2f2f;
border-radius:50%;
height: 15px;
width: 15px;
display: inline-block;
margin-right: 35px;
}

.circle:first-child{
background-color:#feb326;
}

.product_title{
display: inline-block;
font-weight: 700;
font-size: 30px;
color: white;
position: relative;
top: -65px;
}
.product_subtitle{
font-size: 20px;
font-weight: 700;
position: relative;
top: -10px;
}



.product_features{
margin: 25px 0 25px 0;
border: 1px solid #acacac;
width: 570px;
height: 150px;
position: absolute;
left: 410px;
top: 45px;
}


.product_feature_left{
width: 50%;
float: left;
}
.product_feature_right{
width: 50%;
position: absolute;
left: 300px;
}

.product_feature1{
margin-left: 25px;
display: block;
margin-top: 20px;
}
.product_feature1:before{
  content: '';
  display: inline-block;
  background-image: url(../image/f1.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 23px;
}

.product_feature2{
margin-left: 22px;
display: block;
margin-top: 15px;
}

.product_feature2:before{
  content: '';
  display: inline-block;
  background-image: url(../image/f2.png);
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  position: relative;
  top: 15px;
  left: -7px;
}

.product_feature3{
margin-left: 25px;
display: block;
margin-top: 15px;
}

.product_feature3:before{
  content: '';
  display: inline-block;
  background-image: url(../image/f3.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 23px;
  position: relative;
  top: 1px;
}

.product_feature4{
margin-left: 25px;
display: block;
margin-top: 20px;
}

.product_feature4:before{
  content: '';
  display: inline-block;
  background-image: url(../image/f4.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
  left: -10px;
}

.product_feature5{
margin-left: 25px;
display: block;
margin-top: 10px;
}
.product_feature5:before{
  content: '';
  display: inline-block;
  background-image: url(../image/f5.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
  left: -10px;
}
.product_feature6{
margin-left: 25px;
display: block;
margin-top: 12px;
}
.product_feature6:before{
  content: '';
  display: inline-block;
  background-image: url(../image/f6.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
  left: -10px;
}

.product_button{
position: relative;
top: -80px;
}



.complect{
height: 500px;
display: block;
min-width: 1170px;
}

.complect_left{

float: left;
width: 500px;
height: 500px;
border-right: 1px solid #d0d0d0;

}

.complect_right{
left: 100px;
padding-top: 45px;
position: relative;

}

.complect_title{
font-weight: 700;
font-size: 30px;
margin-bottom: 40px;
margin-top: 50px;
display: block;
}


.complect_title2{
  margin-top: 3px;
font-weight: 700;
font-size: 30px;
margin-bottom: 27px;
display: block;
margin-left: 100px;
}


.comp_card{
height: 290px;
width: 200px;
float: left;
}
.comp_card_img{
width: 170px;
border-radius: 5px,
height: 200px;
box-shadow:0 0 5px #d0d0d0;
margin-bottom: 10px;
}

.comp_card_name{
display: block;
font-size: 20px;
margin-bottom: 20px;
}
.comp_card_name2{
display: block;
font-size: 20px;
margin-bottom: 10px;
}
.comp_card_feature{
color:#2f4565;
display: block;
}

.comp_text{
line-height: 1.7;
font-size: 14px;
}

.comp_subtitle{
font-size: 20px;
font-weight: 700;
margin-top: 60px;
display: block;
}


.descr_fish_left{
margin-left: 60px;
float: left;
}
.descr_fish_right{
margin-left: 130px;
display: block;
float: left;
}


.descr_fish{
margin-top: 40px;
font-size: 14px;
display: block;
}

.descr_fish:before{
content: '';
background-image: url(../image/ic_fish_big.svg);
background-repeat: no-repeat;
width: 50px;
height: 50px;
position: absolute;
left: 490px;
display: inline-block;
}

.descr_fish2{
margin-top: 40px;
font-size: 14px;
display: block;
}

.descr_fish2:before{
content: '';
background-image: url(../image/ic_fish_big.svg);
background-repeat: no-repeat;
width: 50px;
height: 50px;
position: absolute;
left: 800px;
display: inline-block;
}

.descr_fish2:last-child{
margin-top: 60px;
font-size: 14px;
display: block;
}

.attach{
height: 480px;
min-width: 1170px;
}

.attach_header{
font-weight: 700;
font-size: 30px;
position: relative;
top: 55px;
margin-bottom: 10px;
}


.similar{
height: 510px;
min-width: 1170px;
}

.card_similar{
border-radius: 5px;
float: left;
background-color: #fff;
width: 270px;
margin-right: 30px;
box-shadow:0 0 10px #d0d0d0;
}

.card_similar a{
text-decoration: none;
}

.card_similar:last-child{
margin-right: 0px;
}


.form_bcg{
height: 350px;
min-width: 1170px;
}

.form_title{
font-weight: 700;
font-size: 30px;
position: relative;
top: -110px;
color: white;
left: 100px;
display: inline-block
}

.form_card{
background-color: white;
height: 320px;
width: 1170px;
margin: auto;
border-radius: 5px;
position: relative;
top: -95px;

}

.form_card_left{
width: 470px;
float: left;
height: 320px;
}
.form_card_left_col1{
float: left;
margin-left: 100px;
width: 270px;
display: inline-block;
margin-top: 35px;
}
.form_card_left_col2{
width: 100px;
float: left;
display: inline-block;
margin-top: 35px;
}


.amount{
width: 47px;
margin-top: 5px;
height: 35px;
border-radius: 5px;
font-size: 14px;
color: #5b5b5b;
padding-left: 20px;
}


.form_card_center{
width: 325px;
height: 320px;
float: left;
border-left: 1PX solid #d0d0d0;
border-right: 1PX solid #d0d0d0;
}

.form_card_center_col1{
float: left;
margin-left: 30px;
width: 140px;
display: inline-block;
margin-top: 71px;
}
.form_card_center_col2{
float: left;
display: inline-block;
margin-top: 60px;
}

.method{
width: 130px;
margin-top: 5px;
height: 35px;
border-radius: 5px;
font-size: 14px;
color: #5b5b5b;
padding-left: 20px;
display: block;
}

.form_card_right{
width: 370px;
float: left;
}


.form_card_right_col1{
float: left;
margin-left: 30px;
width: 65px;
display: inline-block;
margin-top: 71px;
}

.form_card_right_col2{
float: left;
display: block;
margin-top: 60px;
}

.date{
width: 150px;
margin-top: 5px;
height: 35px;
border-radius: 5px;
font-size: 14px;
color: #5b5b5b;
padding-left: 20px;
display: block;
border:1px solid #ddd;
margin-left: 10px;
/*padding-top: 8px;*/
}

.form_button_blue{
background-color: #226298;
width: 170px;
padding: 15px 0px 15px 0px;
display: inline-block;
color: white;
text-decoration: none;
text-align: center;
margin-left: 10px;
margin-top: 35px;
}


.form_simple_text{
margin-bottom: 22px;
display: block;

}
.form_grey_text{
font-size: 14px;
color: #7b7b7b;
display: block;

}
.form_bold_text{
color: #0a192d;
font-weight: 700;
display: block;
margin-top: 22px;
}
.arrow_up{

}
.arrow_down{

}
.input{

}



