

body {
font-family: 'PT Sans', sans-serif;
}


* {
  padding: 0;
  margin: 0;
}

header{
position: absolute;
width: 100%;
}

.container {
width: 1170px;
margin: auto;
padding: 0px /*55px*/ 0px 0px;
position: center;
}

/*Заголовки*/
.title_text_blue {
color: #1b4366;
text-align: 700;
font-size: 30px;
font-weight: 700;
}

.title_text_white{
}

.title_text_yellow{
color: #ffb400;
font-weight: 700;
font-size: 30px;
}


.bcg_grey{
}

.bcg_print{
background-image: url(../image/bсg_blue.png);
background-repeat: round;
background-color: #b4daff;
width: 100%;
}

.catalog_cards{
height: 1095px;
}

.index_popular{
height: 600px;
}

.button_orange{
display: block;
padding: 15px 0px 15px 0px;
margin-top: 20px;
display: inline-block;
background-color: #feb326;

width: 170px;
font-weight: 700;
color: white;
text-decoration: none;
text-align: center;
}


.title_bcg_form {
  height: 145px;
  width: 100%;
   background-color: #0b192c;

}

.title_bcg_item {
  height: 145px;
  width: 100%;
   background-color: #0b192c;

}

.title_logo {
float: left;
margin-top: 15px;
}

/* <!-- Навигация-->*/
.navigation {
float: left;
width: 370px;
position: absolute;
margin-left: 200px;
padding-top: 60px;
border-bottom: 2px solid #ffb400;
}

.navigation a {
padding: 0 92px 15px 0;
display: block;
float: left;
color: #fff;
text-decoration: none;
}

.navigation a:nth-child(3){
padding-bottom: 15px;
padding-right: 0;
}

/*<!-- Шапка-кнопки-->*/
.header_bin {
display: block;
position: relative;
float: left;
margin: 60px 0px 0px 750px;
color: #fff;
text-decoration: none;
}

.header_bin:before {
content:'';
width: 30px;
height: 30px;
background-image: url(../image/ic_bing_full.png);
background-repeat: no-repeat;
position: absolute;
top: -7px;
left: -30px;
}

.header_call{
float: right;
margin: 60px 0px 0px 0px;
font-size: 14px;
color: #fff;
text-decoration:underline;
}


/*<!-- Заголовок-->*/
.catalog_promo_bcg{
   color: white;
  background-image: url(../image/header_photo.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 415px;
  width: 100%;
  background-size: cover;
}

.index_promo_bcg{
   color: white;
  background-image: url(../image/header_photo.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 585px;
  width: 100%;
  background-size: cover;
}

.index_promo_left{
width: 600px;

float: left;
}
.index_promo_right{
position: relative;
top: 165px;
display: block;
left: -55px;
float: right;
color: white;
}

.catalog_promo_title{
position: absolute;
margin-top: 180px;
margin-left: 200px;
display: block;
color: white;
font-family: 'Rubik', sans-serif;
font-size: 25px;
line-height: 1.5;

}
.index_promo_title{
position: absolute;
margin-top: 200px;

display: block;
color: white;
font-family: 'Rubik', sans-serif;
font-size: 30px;
line-height: 1.3;
}

.promo_subtitle{
display: block;
padding-top: 30px;
color: white;
font-size: 20px;
position: absolute;
top: 268px;
}

.promo_cita {
padding: 0px 35px 0px 35px;
color: #9ac3ff;
line-height: 2;
}

.spec_q1{
  position: relative;
    top: 20px;
    left: -17px;
  font-size: 30px;
}
.spec_q2{
   position: relative;
  font-size: 30px;
  left: 335px;
  top: -15px;
}

/*<!-- Основная часть-->

<!--Каталог-->*/

.catalog{

background-color: #fff;
}

.catalog_title{
margin-top: 60px;
margin-bottom: 14px;
}
.catalog_nav{
width: 1170px;
border-bottom: 1px solid #1c4366;
font-size: 0px;

}

.catalog_nav_chapter_fish{
display: inline-block;
background-color: #fff;
color: #000;
width: 19%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;;
}

.catalog_nav_chapter_fish:before{
content: url(../image/ic_fish.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
top: 5px;
position: relative;
}

.catalog_nav_chapter_aqua{
display: inline-block;
background-color: #7fa0dd;
width: 19%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
color: #fff;
}


.catalog_nav_chapter_aqua:before{
content: url(../image/ic_aqua.svg);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;

top: 5px;
position: relative;
}

.catalog_nav_chapter_fish_index{
display: inline-block;
background-color: #7fa0dd;
width: 19%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
color: #fff;
}

.catalog_nav_chapter_fish_index:before{
content: url(../image/ic_fish_wh.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
top: 5px;
position: relative;
}

.catalog_nav_chapter_aqua_index{
display: inline-block;
background-color: #fff;
color: #000;
width: 19%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;;
}


.catalog_nav_chapter_aqua_index:before{
content: url(../image/ic_aqua.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
color: #000;
top: 5px;
position: relative;
}
.catalog_nav_chapter_korm{
display: inline-block;
color: #000;
width: 19%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
}

.catalog_nav_chapter_korm:before{
content: url(../image/ic_ob.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
top: 5px;
position: relative;
}

.catalog_nav_chapter_ob{
display: inline-block;
color: #000;
width: 19%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
}

.catalog_nav_chapter_ob:before{
content: url(../image/ic_ob.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
top: 5px;
position: relative;
}

.catalog_nav_chapter_gr{
display: inline-block;
color: #000;
width: 24%;
font-size: 20px;
margin-top: 20px;
padding-top: 17px;
padding-bottom: 17px;
}

.catalog_nav_chapter_gr:before{
content: url(../image/ic_grunt.png);
background-repeat: no-repeat;
display: inline-block;
font-size: 20px;
padding-right: 15px;
margin-left: 15px;
top: 5px;
position: relative;
}

/*<!-- Основная часть- 2 уровень-->*/
.col1{
  display:inline;
 float:left;
 margin-top: 35px;
 width: 270px;
 height: 1015px;
}
.col2{
  display:inline;
 float:left;
 margin-top: 35px;
 width: 270px;
 height: 1015px;
 margin-left: 30px;
}

.col3{
  display:inline;
  float:left;
 margin-top: 35px;
 width: 270px;
 height: 1015px;
 margin-left: 30px;
}

.col4{
  display:inline;
float:left;
 margin-top: 35px;
 width: 270px;
 height: 1015px;
 margin-left: 30px;
}

.col5{
  display:inline-block;
float:right;
 width: 1170px;
position: relative;
top:105px;
}

/*Навигация 2 уровень*/
.second_nav{
float: left;
height: 310px;
width: 270px;
background-color: #1c4366;
}

.second_nav_content{
padding: 30px 30px 0 30px;
}
.second_nav_title{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.second_nav_chapters{
padding: 30px;
}

.second_nav_chapter{
color: #fff;
text-decoration: none;
}

.second_nav_chapter_active{
color: #6fa1e0;
text-decoration: none;
}

.second_nav_chapters li {
  color: #fff;
  padding-bottom: 20px;
}

.li_active {
  color: #6fa1e0;
  padding-bottom: 20px;
}

/*<!-- Реклама-->*/

.adv_first_cont{
  display: block;
  margin: auto;
}

.adv_first{
margin-top: 45px;
background-image: url(../image/promo1.png);
height: 310px;
width: 270px;
border-radius: 5px;
}

.adv_first_cont{
 padding: 135px 35px 116px 35px;
 text-align: center;
}

.adv_second{
margin-top: 45px;
background-image: url(../image/promo2.png);
height: 310px;
width: 270px;
border-radius: 5px;
}

.adv_second_cont{
 padding: 116px 35px 116px 35px;
 text-align: center;
}

.adv_title{
text-align: center;
color: #fff;
font-weight: 700;
font-size: 20px;
}

.adv_subtitle{
display: block;
text-align: center;
color: #fff;
font-size: 16px;
padding-top: 5px;
}


.card {
border-radius: 5px;
display: inline-block;
float: left;
background-color: #fff;
margin-top: 40px;
}

.card:first-child {
margin-top: 0px;
}


.card a{
  text-decoration: none;
  color: #000;
}

.card_popular{
border-radius: 5px;
float: left;
background-color: #fff;
width: 270px;
margin-right: 30px;
}

.card_popular a{
text-decoration: none;
}

.card_popular:last-child{
margin-right: 0px;
}
.card:hover{
color:#005ae2;
box-shadow:0 0 20px #1c4366;
}

.card_img{
height: 200px;
position: relative;
width: 270px;
}

.card_sale{
position: absolute;
top:0;
right: 0px;
}

.card_text{
border-radius:  0 0 5px 5px;
border-top: 1px solid #d1d1d1;
background-color: #fff;
padding-top: 15px;
padding-bottom: 15px;
}

.card_name{
display: block;
font-size: 20px;
text-align: center;
}
.card_feature1{
  display: block;
  padding: 10px 0 0 55px;
  color: #2f4565;
}

.card_feature1:last-child{
  display: block;
  padding: 10px 0 30px 55px;
  color: #2f4565;
}

.card_feature2{
  display: block;
  padding: 0 0 10px 55px;
  color: #2f4565;
}

.action{
width: 100%;
display: inline;
color: white;
}

.action_first_bcg{
height: 400px;
width: 49.90%;
color: white;
float: left;
background-image: url(../image/action1.png);
background-repeat: no-repeat;
background-size: cover;
}

.action_yellow_bcg{
height: 400px;
width: 0.2%;
float: left;
background-color: #ffb400;
background-size: cover;
}

.action_second_bcg{
height: 400px;
width: 49.90%;
float: left;
background-image: url(../image/action2.png);
background-repeat: no-repeat;
background-size: cover;
}

.action_first{
width: 585px;
float: left;
position: absolute;
color: white;
margin-top: 50px;
}
.action_second{
float: left;
width: 585px;
position: absolute;
margin-left: 700px;
margin-top: 50px;
color: white;

}

.action_text{
display: block;
color: white;
text-decoration: none;
font-size: 20px;
padding-top: 50px;
padding-bottom: 22px;
}

.action_text2{
display: block;
color: white;
text-decoration: none;
font-size: 20px;
padding-top: 50px;
padding-bottom: 65px;
}

.button_blue{
position: absolute;
background-color: #226298;
margin-top:250px;
width: 170px;
display: block;
padding: 15px 0px 15px 0px;

color: white;
text-decoration: none;
text-align: center;
}

.button_blue_second{
background-color: #226298;
width: 170px;
position: relative;
top: 25px;
display: block;
padding: 15px 0px 15px 0px;

color: white;
text-decoration: none;
text-align: center;
}

/*ПОдвал*/

.bcg_blue{
background-color: #1c4366;
width: 100%;
height: 250px;
/*position: absolute*/
}

.footer_block{
 top: 50px;
position: relative;
}

.footer_logo{
  margin-top: 20px;
  float:left;
}

.footer_catalog{
color: #000;
left: 125px;
position: relative;
}

.footer_catalog li{
  padding-bottom: 20px;
}
.footer_catalog_header{
font-size: 20px;
font-weight: 700;
color: #ffb400;
}

.cat_block1{
float: left;
margin-top: 30px;
}

.cat_block2{
position: absolute;
left: 300px;
margin-top: 30px;
}

.footer_catalog_page{
display: inline-block;
color: #fff;
text-decoration: none;
list-style-type: none;
}

.footer_catalog li {
  list-style-type: none;
  line-height: 0.75;
}

.footer_feedback{
color:#ffb400;
float: right;
display: inline-block;
position: relative;
margin-top: 20px;
font-size: 14px;
}

.soc_block{
top: 65px;
left: 130px;
float: right;
position: relative;
}

.footer_network{
margin-right: 10px;
}

/*<!-- index-->*/
/*<!--Подразделы каталога-->*/
.chapter_content {
width: 170px;
margin-right: 25px;
text-decoration: none;
float: left;
margin-top: 40px;
margin-bottom: 110px;
}
.chapter_content_part{

text-align: center;}

.chapter_content a{
text-decoration: none;
color: #2f4565;
}

a .chapter_content_header{
font-weight: 700;
}

a .chapter_content_subtitle{
  display: table-cell;
height: 30px;
right: 50%;
font-size: 14px;
vertical-align: middle;
}

.chapter_content_img{
margin-top: 10px;
}

.popular_header{
display: inline-block;
position: relative;
top: 60px;
color: #1b4366;
text-align: 700;
font-size: 30px;
font-weight: 700;
}

.popular_button{

position: relative;
left: 43%;
top: 160px;
background-color: #226298;
width: 170px;
padding: 15px 0px 15px 0px;
display: inline-block;

color: white;
text-decoration: none;
text-align: center;
}

/* <!-- Как сделать заказ? -->*/

.tutorial{
height: 375px;
position: relative;
width: 1170px;
margin: auto
}

.tutorial_header{
display: block;
margin-top: 70px;
}

.tutorial_part_block{
display: inline-block;
margin-top: 50px;
width: 1170px;
}
.tutorial_part{
float: left;
  width: 340px;
  margin-right: 70px;
}
.tutorial_part:last-child{
  margin-right: 0px;
}


.tutorial_img{
  display: inline-block;
  position: relative;
  left: 145px;
  top:-70px;
}

.tutorial_img_bgc{
display: block;
position: relative;
  height: 95px;
  width: 95px;
  border: 2px solid #feb326;
 box-sizing: border-box;
  padding: 20px;
left: 35%;
right:50%;
}

.tutorial_img_bgc:hover{
  transform: rotate(45deg);
  background-color: #feb326;
}

.tutorial_content{
  position: absolute;
  top: 200px;
  height: 50px;
  vertical-align: top;
}


.tutorial_number_block{display: inline-block;}

.tutorial_number{
display: block;
background-color: #3f6295;
width: 30px;
height: 30px;
border-radius: 15px;
position: relative;
top: -15px;
line-height: 30px;

text-align: center;
color: white;
font-weight: 700;
margin-right: 25px;
float: left;
}

.tutorial_number:hover{
background-color: #feb326;
}

.tutorial_number2 {
display: block;
background-color: #3f6295;
width: 30px;
height: 30px;
border-radius: 15px;
position: relative;
top: 5px;
line-height: 30px;

text-align: center;
color: white;
font-weight: 700;
margin-right: 25px;
float: left;
}

.tutorial_number2:hover{
background-color: #feb326;
}

.tutorial_text_source{
color: #3f6295;
font-size: 16px;
}

.tutorial_text{
display: inline-block;
padding-top: 10px;
font-size: 20px;
text-align: center;
text-height: 2;
}

/*<!-- Контакты -->*/
.contact_and_map{
height: 365px;
position: relative;
top: -50px;
}

.map{
width: 40%;
float: left;
height: 365px;
}

.contact_content{
position: relative;
left: 30px;
border-top: 1px solid #e8e8e8;
padding-top: 30px;
}

.contact_text_time{
font-size: 14px;
display: inline-block;
position: relative;
top: -22px;
left: 15px;
}

.contact_text_time:before{
display: inline-block;
content:'';
background-image: url(../image/ic_time.png);
background-repeat: no-repeat;
position: relative;
left: -17px;
width: 40px;
height: 40px;
top: 22px;

}

.contact_text_car{
font-size: 14px;
display: block;
position: relative;
top: -22px;
left: 15px;
}

.contact_text_car:before{
display: inline-block;
content:'';
background-image: url(../image/ic_car.png);

background-repeat: no-repeat;
position: relative;
left: -15px;
width: 40px;
height: 40px;
top: 20px;
}

.contact_text_weekend{
font-size: 14px;
position: relative;
top: -22px;
margin-left: 15px;
text-align: left;
}

.contact_text_weekend:before{
display: inline-block;
content:'';
background-image: url(../image/ic_weekend.png);
background-repeat: no-repeat;
position: relative;
left: -15px;
width: 40px;
height: 40px;
top: 20px;
}

.contact_text_tel{
font-size: 14px;
position: relative;
top: -22px;
left: 15px;
}

.contact_text_tel:before{
display: inline-block;
content:'';
background-image: url(../image/ic_tel.png);
background-repeat: no-repeat;
position: relative;
left: -15px;
width: 40px;
height: 40px;
top: 20px;
}

.contact_text_mail{
font-size: 14px;
position: relative;
top: -18px;
left: 15px;
}

.contact_text_mail:before{
 display: inline-block;
content:'';
background-image: url(../image/ic_mail.png);
background-repeat: no-repeat;
position: relative;
left: -15px;
width: 40px;
height: 40px;
top: 25px;
}

.contact_title{
font-weight: 700;
font-size: 20px;
margin-right: 50px;
}

.contact_subtitle{
display: inline-block;
width: 400px;

font-size: 14px;
margin-bottom: 35px;
margin-top: 5px;
}

.contact_text{
display: block;
font-size: 14px;
margin-left: 20px;
width: 180px;
position: relative;
top: -35px;
left: 40px;
}

.contact_chapters_left{
float: left;
border-right: 1px solid #feb326;
padding-right: 80px;
}

.contact_chapters_right{
display: inline-block;
position: relative;
left: 30px;
}


/*item*/
!-- Карточка товара-->
.product_card{

}
.product_bcg_blue{

}
.product_bcg_grey{

}
.product_left{

}
.product_right{

}
.crumbs{

}
.circle{

}
.product_title{

}
.product_second_title{

}
.product_features{

}
.product_feature{

}
.product_feature_left{

}
.product_feature_right{

}

<!-- Комплектация-->
.complect{

}
.comp_card{

}
.comp_card_img{

}

<!-- Описание аквариума-->
.description{

}
.descr_text{

}
.descr_fish{

}
.descr_fish_left{

}
.descr_fish_right{

}

<!-- С этим товаром покупают-->
.attach{

}

<!-- Похожие-->
.similar{

}

<!-- Форма-->
.form{

}
.product_bcg_blue{

}
.product_bcg_grey{

}
.form_card{

}
.form_card_left{

}
.form_card_center{

}
.form_card_right{

}
.form_row{

}
.form_simple_text{

}
.form_grey_text{

}
.form_bold_text{

}
.arrow_up{

}
.arrow_down{

}
.input{

}



.super{
  color: #000;
  z-index: 2;
    position: relative;
}


.super:before{
  content:'';
  background-color: blue;
  width: 50px;
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  position: relative;
  top: 20px;
  left: 30px;
  z-index: 1;
/*  opacity: 0.5;*/
}